@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

input::placeholder,
textarea::placeholder {
  color: rgb(133, 139, 151) !important; /* gray-500 */
  opacity: 1 !important;
}

select {
  color: rgb(17 24 39); /* gray-900 */
}
select:invalid {
  color: rgb(165, 168, 175); /* gray-500 (placeholder 느낌) */
}
input,
textarea,
select {
  color: rgb(17 24 39); /* gray-900 */
  opacity: 1;
}